* {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.15em;
}

button {
  align-items: center;
  background-color: #bdf886;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  /* min-height: 3rem; */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@media all and (max-width: 1920px) {

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #addForm, #deleteForm {
    margin: 0 auto;
    position: relative;
  }
  
  #deleteForm {
    top: 1em;
  }

  #addButton, #deleteButton {
    position: relative;
    bottom: 0.21em;
    width: 3.6em;
    height: 2.4em;
  }
  
  #deleteButton {
    background-color: #ff6464;
  }
  
  #indexLogin {
    position: relative;
    top: 0.1rem;
    width: 7rem;
  }
  
  #indexLogout {
    position: relative;
    left: 7.6rem;
    bottom: 11rem;
    width: 7rem;
  }
  
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  
  /* #unauthorized {
    position: relative;
    left: 2rem;
  } */
  
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    right: 1rem;
    width: 30rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  
  ul header {
    position: relative;
    left: 8.6rem;
  }
  
  li {
    display: table-row;
    padding: 2em;
  }
  
  li:before {
    margin-right: 10px;
    content: counter(li);
    width: 1.6em;
    counter-increment: li;
    display: table-cell;
  }
}
 























@media all and (max-width: 1170px) {

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #addForm, #deleteForm {
    margin: 0 auto;
    position: relative;
  }
  
  #deleteForm {
    top: 1em;
  }

  #addInput, #deleteInput {
    width: 300px;
  }

  #addButton, #deleteButton {
    position: relative;
    bottom: 0.21em;
    width: 3.6em;
    height: 2.4em;
  }
  
  #deleteButton {
    background-color: #ff6464;
  }
  
  #indexLogin {
    position: relative;
    top: 0.1rem;
    width: 7rem;
  }
  
  #indexLogout {
    position: relative;
    left: 6.6rem;
    bottom: 11rem;
    width: 7rem;
  }
  
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  
  /* #unauthorized {
    position: relative;
    left: 2rem;
  } */
  
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    width: 20rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  
  ul header {
    position: relative;
    left: 6.5rem;
  }
  
  li {
    display: table-row;
    padding: 2em;
  }
  
  li:before {
    margin-right: 10px;
    content: counter(li);
    width: 1.6em;
    counter-increment: li;
    display: table-cell;
  }
}


/* 
@media all and (max-width: 1170px) {
  body {
    width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signedAs {
    position: relative;
    top: 0.5em;
  }
  
  #addInput {
    width: 300px;
  }

  #deleteInput {
    width: 300px;
  }

  #addButton {
    bottom: 0.21em;
    position: relative;
    width: 3.6em;
    height: 2.4em;
  }
  
  #deleteButton {
    bottom: 0.21em;
    position: relative;
    width: 3.6em;
    height: 2.4em;
    background-color: #ff6464;
  }
  
  #indexLogin {
    position: absolute;
    top: 0.1rem;
    left: 0rem;
    width: 7rem;
  }
  
  #indexLogout {
    position: absolute;
    top: 0.1em;
    left: 0rem;
    height: 2.8rem;
    width: 7rem;
  }
  
  #deleteForm {
    position: relative;
    top: 1em;
  }
  
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  
  #unauthorized {
    position: relative;
    display: block;
    top: 2rem;
    width: 300px;
    word-wrap: break-word;
  }
  
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    right: 3.1rem;
    width: 30rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  
  ul header {
    position: relative;
    left: 8rem;
  }
  
  li {
    display: table-row;
    padding: 2em;
  }
  
  li:before {
    margin-right: 10px;
    content: counter(li);
    width: 1.6em;
    counter-increment: li;
    border: 1px solid black;
    display: table-cell;
  }
} */