* {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.15em;
}

body {
  text-align: center;
  background-color: #ffffff;
}

button {
  align-items: center;
  background-color: #bdf886;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  /* min-height: 3rem; */
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#signupUsername {
  position: relative;
  left: 12.6rem;
}

#signupPassword {
  position: relative;
  top: 3rem;
  right: 6.8rem;
}

#signupSubmit {
  position: relative;
  height: 2rem;
  top: 5.5rem;
  right: 30.2em;
}

a {
  position: relative;
  top: 6rem;
}

a:link,
a:visited {
  background-color: #bdf886;
  color: black;
  border: 2px solid #bdf886;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #bdf886;
  color: rgb(4, 0, 255);
}
