* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
}

body {
  background-color: rgb(147, 230, 255);
}
.regularButton {
  align-items: center;
  background-color: #bdf886;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.regularButton:hover,
.regularButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.regularButton:hover {
  transform: translateY(-1px);
}
.regularButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#checkmark,
#wastebin,
#crossmark {
  top: 0.28rem;
  position: relative;
  left: 0.5rem;
  overflow: hidden;
  width: 32px; /* Set your desired button width */
  height: 32px; /* Set your desired button height */
  padding: 0; /* Remove default padding */
  border-radius: 0;
}

#crossmark {
  background-color: #ff6464;
}

#wastebin {
  position: relative;
  left: 0.6rem;
  background-color: #f0f0f1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

span {
  font-size: 1em;
}

.completedTask {
  background-color: #bdf886;
}

@media all and (min-width: 1921px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #addForm {
    margin: 0 auto;
    position: relative;
    left: 1em;
  }

  #updateForm {
    margin: 0 auto;
    position: relative;
    left: 1em;
  }
  #addInput {
    width: 400px;
  }
  #updateInputNumber {
    position: relative;
    width: 50px;
  }
  #updateInputTask {
    position: relative;
    width: 335px;
  }
  #addButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }

  #updateButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }

  #indexLogin {
    position: relative;
    top: 0.1rem;
    width: 7rem;
  }
  #indexLogout {
    position: relative;
    top: 0.5rem;
    left: 11.3rem;
    bottom: 11rem;
    width: 7rem;
  }
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    width: 30rem;
    left: 1rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  ul header {
    position: relative;
    left: 8.07rem;
  }
  li {
    display: table-row;
    padding: 2em;
  }
  li:before {
    margin-right: 10px;
    content: counter(li) ".";
    width: 1.6em;
    counter-increment: li;
    display: table-cell;
  }
}

@media all and (max-width: 1920px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #addForm {
    margin: 0 auto;
    position: relative;
    left: 1em;
  }

  #updateForm {
    margin: 0 auto;
    position: relative;
    left: 1em;
  }
  #addInput {
    width: 400px;
  }
  #updateInputNumber {
    position: relative;
    width: 50px;
  }
  #updateInputTask {
    position: relative;
    width: 335px;
  }
  #addButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }

  #updateButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }

  #indexLogin {
    position: relative;
    top: 0.1rem;
    width: 7rem;
  }
  #indexLogout {
    position: relative;
    top: 0.5rem;
    left: 11.3rem;
    bottom: 11rem;
    width: 7rem;
  }
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    width: 30rem;
    left: 1rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  ul header {
    position: relative;
    left: 8.07rem;
  }
  li {
    display: table-row;
    padding: 2em;
  }
  li:before {
    margin-right: 10px;
    content: counter(li) ".";
    width: 1.6em;
    counter-increment: li;
    display: table-cell;
  }
}

@media all and (max-width: 1170px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #addForm {
    margin: 0 auto;
    position: relative;
    left: 0em;
  }
  #updateForm {
    margin: 0 auto;
    position: relative;
    left: 0em;
  }
  #addInput {
    width: 280px;
  }
  #updateInputNumber {
    width: 50px;
  }
  #updateInputTask {
    width: 215px;
  }
  #addButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }
  #updateButton {
    position: relative;
    bottom: 0.21em;
    width: 5em;
    height: 2.4em;
  }
  #indexLogin {
    position: relative;
    top: 0.1rem;
    width: 7rem;
  }
  #indexLogout {
    position: relative;
    top: 0.5rem;
    left: 6.6rem;
    bottom: 11rem;
    width: 7rem;
  }
  #show {
    position: relative;
    top: 2rem;
    height: 2.5rem;
    background-color: #ffffff;
  }
  ul {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: 2rem;
    width: 20rem;
    left: -2rem;
    counter-reset: li;
    word-wrap: break-word;
  }
  ul header {
    position: relative;
    left: 6.07rem;
  }
  li {
    display: table-row;
    padding: 2em;
  }
  li:before {
    margin-right: 10px;
    content: counter(li) ".";
    width: 1.6em;
    counter-increment: li;
    display: table-cell;
  }
}
